<p id="notice"><%= notice %></p>

<p>
  <strong>Support:</strong>
  <%= @schedule.Support %>
</p>

<p>
  <strong>Vacation:</strong>
  <%= @schedule.vacation %>
</p>

<p>
  <strong>Date:</strong>
  <%= @schedule.Date %>
</p>

<%= link_to 'Edit', edit_schedule_path(@schedule) %> |
<%= link_to 'Back', schedules_path %>
